.pendulum {
	width: 640px;
	height: 480px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.maze {
	width: 480px;
	height: 400px;
	margin-left: auto !important;
	margin-right: auto !important;
	position: relative;
}

.maze > canvas {
	position: absolute;
	left: 0;
	top: 0;
}